@media ((min-width: 1440px)) {
  /* nav */
  .nav-container {
    padding: 0 2%;
  }
  #slack-logo {
    height: 25px;
  }
  .desktop-navigation {
    display: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 72.5%;
  }
  .desktop-navigation li {
    list-style: none;
  }
  .desktop-navigation li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  .slack-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
  }
  #menu-button {
    display: none;
  }
  #signin-tryfree-nav-ul {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 83%;
    /* padding-left: 12%; */
  }
  #signin-tryfree-nav-ul li {
    list-style: none;
  }
  #signin-tryfree-nav-ul li a {
    text-decoration: none;
    font-size: 18px;
  }
  .mobile-buttons {
    width: 22%;
    align-items: center;
  }
  #signin-link-nav {
    padding: 5px;
    color: white;
  }
  #tryfree-link-nav {
    border-width: 1px;
    border-style: none;
    border-radius: 4px;
    color: #540b51;
    background-color: white;
    padding: 10px 15px 10px 15px;
    text-transform: uppercase;
    font-weight: 600;
  }

  /* header */
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 6% 120px 6%;
  }
  #header-content {
    width: 50%;
    padding: 0 0 0 0;
    background-image: none;
    /* background-position: -10px 0;
      background-repeat: no-repeat;
      background-size: 1425px; */
  }
  #teamwork-headline {
    text-align: left;
    font-size: 80px;
    padding-top: 30px;
    width: 80%;
  }
  #teamwork-subheadline {
    text-align: left;
    margin: 0;
    padding-top: 80px;
    font-size: 24px;
    width: 50%;
  }
  #header-screenshot {
    width: 50%;
    height: auto;
    overflow:auto;
    position:static;
    margin-bottom: 0px;
  }
  #screenshot-img {
    position: static;
    height: auto;
    width: 100%;
    margin: 0;
  }
  .signup-google-button-container {
    flex-direction: row;
  }
  .signup-google-buttons {
    width: 100%;
  }
  #signup-button {
    margin-right: 5px;
  }
  #google-button {
    margin-left: 5px;
  }
  /* main */
  /* section 1 -- references */
  #references {
    height: 180px;
    padding: 10px 15%;
  }
  #references-text {
    font-size: 18px;
  }
  .reference-logo-single {
    height: 40px;
    margin: 10px 10px;
  }
  /* section 2 -- evaluation */
  #evaluation {
    padding: 80px 7% 80px 7%;
  }
  #evaluation-headline {
    font-size: 45px;
  }
  #evaluation-subheadline {
    padding-top: 25px;
    font-size: 18px;
  }
  #evaluation-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding-top: 70px;
  }
  #evaluation-list li {
    width: 15%;
  }
  .percentages {
    font-size: 70px;
  }

  /* section 3 -- digital HQ */

  #digital-hq-headline {
    font-size: 45px;
  }

  #digital-hq-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .digital-hq-buttons {
    width: 180px;
    margin: 30px 10px 0 10px;
  }
  #try-free-button {
    color: #540b51;
    margin-top: 30px;
  }

  /* footer */
  #footer-links {
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
  }
  #footer-platforms {
    justify-content: space-between;
    width: 23%;
  }
  #footer-copyright {
    text-align: left;
  }
}
